/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* common css */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1040px;
}
.section-title{
    color: #18191F;
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}
.popular-collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:25px;
    grid-row-gap: 25px;
}
/* header css */
header{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-left: 15px;
    margin-right: 10px;
}
.half-width{
    width: 50%;
}
.header-container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.header-meun{
    align-items: center;
}
.header-meun ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-meun li{
    list-style: none;
}
.header-meun a{
    text-decoration: none;
    margin-left: 22px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.influencer-title{
    padding: 20px;
    padding-left: 0;
}
.influencer-title h1{
    font-size: 50px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 0px;
}
.influencer-title p{
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    color: #474141;
    margin-top: 5px;
    margin-bottom: 25px;

}
.influencer-title button,button{
    padding: 15px 30px ;
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
}
.influencer-title button a,button a{
    font-size: 16px;
    font-weight: 600;
    color: #fff;    
    text-decoration: none;
    display: flex;
    align-items: center;
}
.influencer-title button i , .see-more i{
    padding-left: 15px;
}
.influencer-img{
    position: relative;
    text-align: center;    
}
.influencer-img img{
    width: 80%;
    margin-top: 25px;
}
.influencer-img::before{
    position: absolute;
    background-image: url(images/Circle\ design.svg);
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    left: 50px;
    content: '';
}
.influencer-img:hover img{
    transform: rotate(360deg);
    transition: 3s ease-in-out;

}
/* main css */

/* popular-collections */
.container{
    margin-top: 50px;
}
.collection{
    background-color: #fff;
    box-shadow: 0 0 12px 0 #00000040;
    padding: 15px;
    border-radius: 5px;
}
.collection img img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.collection-title{
    color: #18191F;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0 5px 0;
}
.price{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.781);
    margin:0;
    font-weight: 400;
}
.rating-star{
    margin: 5px 0 10px 0;
}
.rating-star i{

    color: orange;

}
.rating-star span{
    color: #787885;
    padding-left: 10px;
}
.collection-info{
    color: #787885;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0 5px 0;

}
.collection-info p{
    margin:  0 ;
}
.see-more{
    margin-top: 80px;
    text-align: end;
    
} 
.see-more a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #E02C6D;
}
/* Influencer */

.influencer-plan{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-column-gap: 25px;
    color: #18191F;   
    margin-bottom: 80px; 
    margin-top: 20px;
}
.influencer-plan img{
    width: 100%;
}
.plan-detail{
    
    padding-left: 20px;
}
.plan-detail h2{
    margin:0 ;
    font-size: 30px;
    font-weight: 700;
}
.plan-detail span{
    color: #E02C6D;
}
.plan-detail h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.plan-detail p{
    font-size: 16px;
    font-weight: 500;  
}
.plan-detail button:hover a{
    text-decoration: underline;    
}
/* footer css */
footer{
    text-align: center;
    padding: 35px 0 35px 0;
    background-color: #0A0826;
    color: #fff;
}
footer h2{
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}
footer p{
    margin: 0;
    font-size: 16px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo i{
    background-color: rgba(255, 255, 255, 0.445);
    margin: 8px;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
}

/* Media Queries */
 
/* Mobile device */
@media only screen and (max-width:688px) {
    .container,.header-container{
        width: 100%;
        padding: auto;
        overflow: hidden;
    }
    .popular-collections,.header-container,.influencer-plan{
        grid-template-columns: repeat(1,1fr);
    }
    .popular-collections,.header-container,.influencer-plan{
        flex-direction: column;
        align-items: center;
        display: flex;
        grid-row-gap: 30px;        
    }
    .half-width{
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
        align-items: center;
    }
    .see-more a{
        font-size: 30px;
    }
    .footer-logo{
        margin-top: 10px;
    }
}

/* Tablet */
@media only screen and (min-width:689px) and (max-width:991px) {
    .container,.header-container{
        width: 100%;
        padding: auto;
    }
    .popular-collections,.influencer-plan,.header-container{
        grid-template-columns: repeat(2,1fr);
    }
    .header-container{
        grid-row-gap: 30px; 
        flex-direction: column;
        display: flex;               
    }
    .collection-img{
        text-align: center;
        margin-top: 20px;
    }
    .collection-detail{
        margin-left: 30px;
    }
    .influencer-img::before{
        position: absolute;
        top:10px;
        left: 150px;
    }
    .influencer-img img{
        width: 60%;
    }
    .half-width{
        width: 100%;
        padding: 0;
        margin-bottom: 50px;
        align-items: center;
    }
    .see-more a{
        font-size: 30px;
    }
    .footer-logo{
        margin-top: 10px;
    }
}